<div class="form-group">
  <input
    class="form-control"
    id="countryName"
    placeholder="Ülke Ara"
    [(ngModel)]="filterText"
  />
  <small id="emailHelp" class="form-text text-muted"
    >We'll never share your email with anyone else.</small
  >
</div>

<table *ngIf="countriesTotal && countries">
  <tr>
    <td>ÜLKE</td>
    <td>VAKA</td>
    <td>ÖLÜM</td>
    <td>İYİLEŞME</td>
    <td></td>
  </tr>
  <tr *ngFor="let country of countriesTotal | countryFilter:countries:filterText">
    <td>{{ countries[country.countryId - 1].name }}</td>
    <td>{{ country.infected }}</td>
    <td>{{ country.death }}</td>
    <td>{{ country.recovered }}</td>
    <td><a class="btn btn-primary" routerLink="/countryDetail/{{country.countryId}}" routerLinkActive="active">Seç</a></td>
  </tr>
</table>
