<div class="container">
  <form [formGroup] = "statOperation" (ngSubmit)="applyOperation()" class="mt-3">
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="date"
        class="form-control"
        id="dateId"
        name="tarih"
        placeholder="Tarih"
        [(ngModel)]="date"
        formControlName = "date"
      />
      <div class="alert alert-danger" *ngIf="statOperation.get('date').hasError('required') && statOperation.get('date').touched">Hatalı Giriş!</div>
      </div>
      <div class="form-group col-md-4">
        <input type="text"
          class="form-control"
          id="deathId"
          name="olum"
          placeholder="Ölüm Sayısı"
          [(ngModel)]="death"
          formControlName = "death"
        />
        <div class="alert alert-danger" *ngIf="statOperation.get('death').hasError('required') && statOperation.get('death').touched">Hatalı Giriş!</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text"
        class="form-control"
        id="infectedId"
        name="vaka"
        placeholder="Vaka Sayısı"
        [(ngModel)]="infected"
        formControlName = "infected"
      />
      <div class="alert alert-danger" *ngIf="statOperation.get('infected').hasError('required') && statOperation.get('infected').touched">Hatalı Giriş!</div>
    </div>
    <div class="form-group col-md-4">
      <input type="text"
        class="form-control"
        id="recoveredId"
        name="iyi"
        placeholder="İyileşen Sayısı"
        [(ngModel)]="recovered"
        formControlName = "recovered"
      />
      <div class="alert alert-danger" *ngIf="statOperation.get('recovered').hasError('required') && statOperation.get('recovered').touched">Hatalı Giriş!</div>
    </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-success" [disabled]="statOperation.invalid">Kaydet</button> - <a class="btn btn-warning" (click)="clear()">Temizle(Yeni Kayıt için)</a>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-center">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ÜLKE</th>
        <th scope="col">VAKA</th>
        <th scope="col">ÖLÜM</th>
        <th scope="col">İYİLEŞME</th>
        <th scope="col"></th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let stat of stats">
          <td>{{ stat.date }}</td>
          <td>{{ stat.infected }}</td>
          <td>{{ stat.death }}</td>
          <td>{{ stat.recovered }}</td>
          <td><a class="btn btn-primary" (click)="statSelect(stat)">Düzenle</a> - <a class="btn btn-danger" (click)="delete(stat)">Sil</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

