<p>Circular Chart</p>
<table *ngIf="countries && countriesTotal && wordlTotal">
    {{ getPercent() }}
    <tr>
        <td>ÜLKE</td>
        <td>YÜZDE</td>
    </tr>
    <tr> 
        <td>{{countries[countriesTotal[0].countryId-1].name}}</td>
        <td>{{ percent[0] }}</td>
    </tr>
    <tr>
        <td>{{countries[countriesTotal[1].countryId-1].name}}</td>
        <td>{{ percent[1] }}</td>
    </tr>
    <tr>
        <td>{{countries[countriesTotal[2].countryId-1].name}}</td>
        <td>{{ percent[2] }}</td>
    </tr>
    <tr>
        <td>{{countries[countriesTotal[3].countryId-1].name}}</td>
        <td>{{ percent[3] }}</td>
    </tr>
    <tr>
        <td>{{countries[countriesTotal[4].countryId-1].name}}</td>
        <td>{{ percent[4] }}</td>
    </tr>
    <tr>
        <td>Diğer</td>
        <td>{{100 - percent[0] - percent[1] - percent[2] - percent[3] - percent[4]}}</td>
    </tr>
</table>
