<div class="d-flex justify-content-center table-wrapper-scroll-y my-custom-scrollbar mt-3">
    <table *ngIf="countries" class="table">
        <thead>
            <tr>
                <th scope="col">ÜLKE</th>
                <th scope="col">VAKA</th>
                <th scope="col">ÖLÜM</th>
                <th scope="col">İYİLEŞME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countriesTotal"> 
                <td>{{countries[country.countryId-1].name}}</td>
                <td class="text-danger" >{{country.infected}}</td>
                <td class="text-secondary">{{country.death}}</td>
                <td class="text-success">{{country.recovered}}</td>
            </tr>
        </tbody>
    </table>
</div>
