<div class="row mt-2">
    <div class="text-dark col-6"><h4>{{ currentCountry.name }}</h4> </div>
    <div class="col-6 "> 
        <select class="form-control float-right" [(ngModel)]="currentCountry.id" *ngIf="countriesTotal && countries && wordlTotal"
                #mySelect
                (change)='onOptionsSelected(mySelect.value)'>
                <option class='option' [selected]="currentCountry.id" [value] = "currentCountry.id"> {{currentCountry.name}}</option>
                <option class='option' [value]="0"> Dünya Geneli</option>
            <option class='option' 
            *ngFor='let country of countries' 
            [value]="country.id">{{country.name}} </option>
            </select>
        </div>
    </div>


<!--  <label *ngFor='let country of countries'>{{ country.name }}</label> -->
    <div *ngIf="currentStats" class="row mt-2"> 
        <div class="col-sm-3">
            <div class="card border-danger">
              <div class="card-body text-danger">
                <h5 class="card-title">Toplam Vaka</h5>
                <p class="card-text"> {{ currentStats.infected }}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-warning">
              <div class="card-body text-warning">
                <h5 class="card-title">Aktif Vakalar</h5>
                <p class="card-text"> {{ activeCase }}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-secondary">
              <div class="card-body text-secondary">
                <h5 class="card-title">Ölüm</h5>
                <p class="card-text"> {{ currentStats.death }} </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-success">
              <div class="card-body text-success">
                <h5 class="card-title">İyileşme</h5>
                <p class="card-text"> {{ currentStats.recovered }} </p>
              </div>
            </div>
          </div>
          <!-- 
        <table>
            <tr [(innerHtml)]="'Vaka: ' + currentStats.infected"></tr>
            <tr [(innerHtml)]="'Ölüm: ' + currentStats.death"></tr>
            <tr [(innerHtml)]="'İyileşme: ' + currentStats.recovered"></tr>
        </table> -->
    </div>
    <div class="mt-2">
      <div id="chartdiv"></div>
    </div>
    <div class="mt-2">
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [colors]="chartOptions.colors"
          [dataLabels]="chartOptions.dataLabels"
          [legend]="chartOptions.legend"
          [markers]="chartOptions.markers"
          [grid]="chartOptions.grid"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </div>

<!-- 
   <p class="d-flex justify-content-center">Ülkelerin ve dünya geneli bilgilerinin haritada gösterimi</p>
   
    <br/>
    


<div *ngIf="countriesDays && worldDays" class="d-flex justify-content-center"> Ülkelerin ve dünya genelinin günlük verileri</div>

<div class="d-flex justify-content-center">
    <table >
        <tr *ngFor="let days of currentDays">
            Date: {{ days.date }} Vaka: {{ days.infected }} Ölüm: {{ days.death }} İyileşme: {{ days.recovered }}
        </tr>
    </table>
</div>
-->